/**
* ============
* === Colors used ===
* ============

#4F4738 - brown
#FFFFFD - offwhite
#27616A - blue
#AB9E77 - Light brown
#FFFDFB - offwhiteis

**/

/**
* ============
* === body ===
* ============
**/

body{
    margin:0;
    background-color:#FFFFFD;
}

/**
* ============
* === mainbox ===
* ============
**/

.MainBox {
    width:1000px;
    margin:0px auto 0;
}

/**
* ============
* === Logo ===
* ============
**/

.logo {
    height:100px;
}

    .logo p {
        color:#27616A;
        font-size:60px;
    }


/**
* ============
* === MenuBar ===
* ============
**/

.MenuBar {
    height:50px;
    background-color:#27616A;
    margin-top:50px;
}

/**
* ============
* === menu ===
* ============
**/

.menu {
   text-decoration:none;
   list-style:none;
   float:center;
   padding-left:250px;
}

    .menu li {
        float:left;
        margin:15px 20px 10px 10px;
    }

        .menu li a {
            text-decoration:none;
            color:#FFFDFB;
            text-transform:uppercase;
        }